{%  extends "TroiswaBackBundle::layout.html.twig" %}

{% block heading %}
    <h3>List of categories</h3>
{% endblock %}

{% block container%}
<table border="1" style="width:100%">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    {% for key,value in categories %}
        <tr>
            <td>{{ value.id }}</td>
            <td>{{ value.title|capitalize }}</td>
            <td>{{ value.description[:90]}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}